<div class="turmas-container" (mousemove)="turmaRepetida=false">
  <div class="turmas-cadastro">
    <h1>Configurar Média de Turmas</h1>

    <table>
      <tr>
        <td><label for="add-turma-descricao">Turma</label></td>
        <td><input id="add-turma-descricao" list="turmaDataList" [(ngModel)]="descricaoTurmaSelecionada" (change)="atualizaTurmaSelecionada()">
          <datalist id="turmaDataList">
            <option *ngFor="let turma of turmas" [value]="turma.descricao">
          </datalist>
        </td>
      </tr>
    </table>
    <div class="turma-inexistente" *ngIf="turmaInexistente">
      <span>
        Não existe turma com essa descrição.<br>
        Por favor, tente novamente.
      </span>
      <button (click)="turmaInexistente=false"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="turmas-cadastradas" *ngIf="descricaoTurmaSelecionada != ''">
    <h1>Turma Selecionada - <span class="turma-nome">{{descricaoTurmaSelecionada}}</span></h1>

    <table class="turmas-table">
      <thead>
        <tr>
          <th>Metas</th>
          <th>Pesos</th>
          <th>Alunos</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr class="turma" *ngFor="let t of turmas; let i = index">
          <td class="turma-metas">{{ t.metas[i] }}</td>

          <td class="turma-peso" *ngIf="turmaEditar.peso !== t.peso">{{ t.peso[i] }}</td>
          <td class="turma-peso" *ngIf="turmaEditar.peso === t.peso"><input type="number" [(ngModel)]="turmaEditar.peso"></td>

          <td class="acoes" *ngIf="turmaEditar.metas !== t.metas">
            <button name="editar-turma" (click)="editarTurma(t)">Editar</button>
          </td>
          <td *ngIf="turmaEditar.metas === t.metas" class="acoes">
            <button name="atualizar-turma" (click)="atualizarTurma(t)">Salvar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!turmas.length">
    <h3>Nenhuma turma cadastrada.</h3>
  </div>
</div>
